footer {
  background-color: var(--dark-color);
  color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer > div {
  max-width: 1200px;
  margin: auto;
  padding: 64px 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

footer .footer .section {
  padding: 0;
  margin: 0;
}

footer .footer .section > div {
  max-width: none;
  padding: 0;
  margin: 0;
}

footer .footer .default-content-wrapper {
  text-align: left;
  margin-bottom: 0;
}

footer .footer p {
  margin: 0 0 4px;
  color: rgb(255 255 255 / 80%);
}

footer .footer a:any-link {
  color: rgb(255 255 255 / 80%);
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--background-color);
}

footer .footer h2 {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  margin: 0 0 20px;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer ul li {
  padding: 6px 0;
}

footer .footer ul li a:any-link {
  font-size: var(--body-font-size-s);
  font-weight: 400;
}

/* Bottom bar: social icons + copyright (last section) */
footer .footer .section:last-child {
  border-top: 1px solid rgb(255 255 255 / 20%);
  padding-top: 32px;
  margin-top: 32px;
}

footer .footer .section:last-child .default-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer .section:last-child p:first-child {
  display: flex;
  gap: 16px;
  align-items: center;
}

footer .footer .section:last-child p:first-child a {
  font-size: 20px;
  color: #fff;
}

footer .footer .section:last-child p:last-child {
  font-size: 12px;
  color: rgb(255 255 255 / 60%);
}

footer .footer .section:last-child p:last-child a {
  color: rgb(255 255 255 / 60%);
  font-size: 12px;
}

footer .footer .section:last-child p:last-child a:hover {
  color: #fff;
}

@media (width >= 900px) {
  footer .footer > div {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 32px;
  }

  footer .footer .section:last-child {
    grid-column: 1 / -1;
  }

  footer .footer .section:last-child .default-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
