:root {
  --heading-font-family: "Lora", "Georgia Bold", serif;
  --body-font-family: "Circular", arial, sans-serif;
  --background-color: #fff;
  --text-color: #10263b;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --light-color: #faf6ef;
  --dark-color: #10263b;
  --section-padding: 48px;
  --content-max-width: 1140px;
  --nav-height: 72px;
  --heading-size-xxl: 34px;
  --heading-size-xl: 28px;
  --heading-size-l: 28px;
  --heading-size-m: 20px;
  --heading-size-s: 18px;
  --heading-size-xs: 16px;
}
