:root {
  --heading-font-family: "Libre Franklin", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
  --background-color: #fff;
  --text-color: #212529;
  --link-color: #008533;
  --link-hover-color: #006341;
  --brand-green: #008533;
  --brand-green-dark: #006341;
  --light-green: #f2f9f5;
  --light-color: #f2f9f5;
  --dark-color: #006341;
  --section-padding: 48px;
  --content-max-width: 1200px;
  --nav-height: 128px;
  --heading-size-xxl: 64px;
  --heading-size-xl: 40px;
  --heading-size-l: 32px;
  --heading-size-m: 24px;
  --heading-size-s: 20px;
  --heading-size-xs: 18px;
}
